*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gainsboro;
}

.post{
    background-color: white;
    width: 600px;
    margin: auto;
}

.html5{
    font-size: 40px;
}

.text-header{
    padding-top: 0px;
    padding-left: 10px;
}

.puntos{
    font-size: 40px
    
}


.post-header{
    display:flex;
    padding: 1rem;
}


.post-icons{
    font-size: 40px;
    display: flex;
    padding: 1rem;
    padding-bottom: 0;
}

.post-body p{
    padding: 4px;
    margin-top: 10px;
}